/* h1{
    color: #063959;
    background-color: #d19ecf;
} */


body{

    font-family:Georgia, 'Times New Roman', Times, serif;

}
.main{
    border: 2px solid #850a0a;
    border-radius: 10px;
    border-radius: 0px 50px 0px 50px;
}
.description{
    background-color: rgb(232, 197, 151);
    border-radius: 10px;
    /* margin: ; */
    padding: 100px;
     /* opacity: 0.3; */
}