
#img-div1{
    background-color: #043d51;
    background-image: url('im.jpeg') no-repeat center center;
    z-index:-1;
    opacity: 0.4;
    


}

#img-div1:hover{
    opacity: 1;
    color:red;

}
div{
    /* border: solid black; */
    text-align: center;
    background-color: #043d51;
    color: white;
    width: 200px;
    display: inline-block;
    padding: 40px;
    margin:  20px -10px 0px 0px;
}