.navbtn{
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.navbar{
    display: inline-block;
    position: relative;
}

.nav-content{
    display: none;
    position: absolute;
    min-width: 160px;

}

.nav-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-content a:hover{
    background-color: black;
    color: white;
    min-width: 160px;
}

.navbar:hover .nav-content{
    display: block;
}

.navbar:hover .navbtn{
    background-color: black;
}