#position{
    width: 150px;
    height: 150px;
    background-color: brown;
    position: sticky;
    top: 5px;
    left: 100px;

    /* bottom: 5px; */
  
    

}

/* 
Position
static
relative
absolute
fixed
sticky

right
left
top 
bottom
*/